<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
   <groups>																																																	
  <run>

  <!-- Jyothi group-->  
   <!-- <include name="Jyothi"/> -->
   <!-- <include name="LOC_601"/> -->
   <include name="TLP1"/>
  
  

   <!-- <include name="Jyothi_PDL_Accounting"/> -->

  </run>
  </groups> 
   <classes>
      <class name="tests.QCStore"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
